# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
raw_data = {"name":["Bulbsaur","Charmander","Squirtle","Caterpie"],
             "evolution":["Ivysaur","Charmeleon","Wartortle","Metapod"],
            "hp":[45,39,44,45],
            "pokedex":["yes","no","yes","no"],
            "type":["grass","fire","water","bug"]
           }

### Step 3. Assign it to a variable called pokemon

In [4]:
pokemon = pd.DataFrame(raw_data)
pokemon

         name   evolution  hp pokedex   type
0    Bulbsaur     Ivysaur  45     yes  grass
1  Charmander  Charmeleon  39      no   fire
2    Squirtle   Wartortle  44     yes  water
3    Caterpie     Metapod  45      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [16]:
pokemon = pokemon.loc[:,['name','type','hp','evolution','pokedex']]
pokemon

         name   type  hp   evolution pokedex
0    Bulbsaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [14]:
pokemon['Place']= ('forest','lava','river','trees')
pokemon

         name   type  hp   evolution pokedex   Place
0    Bulbsaur  grass  45     Ivysaur     yes  forest
1  Charmander   fire  39  Charmeleon      no    lava
2    Squirtle  water  44   Wartortle     yes   river
3    Caterpie    bug  45     Metapod      no   trees

### Step 6. Present the type of each column

In [15]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
Place        object
dtype: object

### BONUS: Create your own question and answer it.